

<!DOCTYPE html>
<html>
<head>
	<title>课程信息显示</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 引入bootstrap -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- 引入JQuery  bootstrap.js-->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>


</head>
<body>
	<!-- 顶栏 -->
#parse("top.vm")
	<!-- 中间主体 -->
	<div class="container" id="content">
		<div class="row">
			<jsp:include page="menu.jsp"></jsp:include>
			<div class="col-md-10">
				<div class="panel panel-default">
				    <div class="panel-heading">
						<div class="row">
					    	<h1 class="col-md-5">课程名单管理</h1>
							<form class="bs-example bs-example-form col-md-5" role="form" style="margin: 20px 0 10px 0;" action="/admin/course/search?pageSize=${pageModel.pageSize}" id="form1" method="post">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="请输入关键字" name="q">
									<span class="input-group-addon btn" onclick="document.getElementById('form1').submit()" id="sub">搜索</span>
								</div>
							</form>
							<button class="btn btn-default col-md-2" style="margin-top: 20px" onClick="location.href='/admin/course/add'">
								添加课程信息
								<sapn class="glyphicon glyphicon-plus"/>
							</button>

						</div>
				    </div>
				    <table class="table table-bordered">
					        <thead>
					            <tr>
									<th>课程号</th>
									<th>课程名称</th>
									<th>授课老师编号</th>
									<th>上课时间</th>
									<th>上课地点</th>
									<th>周数</th>
									<th>课程类型</th>
									<th>学分</th>
									<th>操作</th>
					            </tr>
					        </thead>
					        <tbody>
							#foreach($course in ${pageModel.data})
								<tr>
									<td>${course.id}</td>
									<td>${course.courseName}</td>
									<td>${course.teacherId}</td>
									<td>${course.courseTime}</td>
									<td>${course.classRoom}</td>
									<td>${course.courseWeek}</td>
									<td>${course.courseType}</td>
									<td>${course.score}</td>
									<td>
										<button class="btn btn-default btn-xs btn-info" onClick="location.href='/admin/editCourse/${course.id}'">修改</button>
										<button class="btn btn-default btn-xs btn-danger btn-primary" onClick="location.href='/admin/course/delete/${course.id}'">删除</button>
										<!--弹出框-->
									</td>
								</tr>
							#end
					        </tbody>
				    </table>
				   #parse("page.vm")
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="footer">
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</body>

</html>